<h2 style="color: inherit;">Education</h2>
          <div class="news">
            <div class="table-responsive" {% if include.limit and site.announcements.scrollable and news_size > 3 %}style="max-height: 60vw"{% endif %}>
                <table class="table table-sm table-borderless">
                    <tr>
                        <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
                          {%- if page.education.image %}
                            {%- assign education_image_path = page.education.image | prepend: 'assets/img/' -%}
              
                            {% if page.education.image_circular %}
                              {%- assign education_image_class = "img-fluid z-depth-1 rounded-circle" -%}
                            {% else %}
                              {%- assign education_image_class = "img-fluid z-depth-1 rounded" -%}
                            {% endif %}
              
                            {% include figure.html
                            path=education_image_path
                            class=education_image_class
                            alt=education.profile.image
                            cache_bust=true -%}
                          {% endif -%}
                        </div>
                        <div class="clearfix">
                          <b> Zhejiang University </b>
                          <br> 2020 - 2024, Hangzhou, China <br>
                          <br> <b>B.Eng.(Honours) in Computer Science</b>
                          <br> Cumulative GPA: 94.38/100, 3.99/4.0
                          <br> Major GPA: 96.67/100, 4.0/4.0
                          <br> Advisor: Prof. <a href="http://xzhou.me/">Xiaowei Zhou</a>
                        </div>
                    </tr>
                </table>
            </div>
        </div>