          <div class="news">
            <div class="table-responsive" {% if include.limit and site.announcements.scrollable and news_size > 3 %}style="max-height: 60vw"{% endif %}>
                <table class="table table-sm table-borderless">
                    <tr>
                        <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
                          {%- if page.education.image %}
                            {%- assign education_image_path = page.education.image | prepend: 'assets/img/' -%}
              
                            {% if page.education.image_circular %}
                              {%- assign education_image_class = "img-fluid z-depth-1 rounded-circle" -%}
                            {% else %}
                              {%- assign education_image_class = "img-fluid z-depth-1 rounded" -%}
                            {% endif %}
              
                            {% include figure.html
                            path=education_image_path
                            class=education_image_class
                            alt=education.profile.image
                            scale=50
                            cache_bust=true -%}
                          {% endif -%}
                        </div>
                        <div class="clearfix">
                          <b> <a href="https://www.zju.edu.cn/english/">Zhejiang University</a> </b>
                          <br> <a href="http://www.en.cs.zju.edu.cn/turing_honors_class/list.htm">Turing Class</a>, <a href="http://ckc.zju.edu.cn/ckcen/_t1906/wbout/list.psp">Chu Kochen Honors College</a>
                          <br> 2020 - 2024, Hangzhou, China <br>
                          <br> <b>B.Eng. in Computer Science and Technology</b>
                          <br> GPA: 4.83/5.0(4.0/4.0), 93.98/100 
                          <br> Rank: 1/82
                          <br> Advisor: Prof. <a href="https://cshen.github.io/">Chunhua Shen</a>
                        </div>
                    </tr>
                </table>
            </div>
          </div>