    {% if site.footer_fixed %}
    <footer class="fixed-bottom">
      <div class="container mt-0">
        <div style="color: var(--global-footer-text-color); flex: 1;">
        &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}. 
        {{ site.footer_text }}
        {%- if site.impressum_path -%}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
        {%- endif -%}
        {%- if site.last_updated -%}
        Last updated: {{ "now" | date: '%B %d, %Y' }}.
        {%- endif %}
        </div>

        <div style="height: auto; max-width: 100%; vertical-align: middle;">
            <span id="busuanzi_container_site_pv" style="color: var(--global-footer-text-color); flex: 1;">Total Hits: <span id="busuanzi_value_site_pv" style="color: var(--global-footer-text-color); flex: 1;"></span></span>
        </div>
      </div>
    </footer>
    {%- else -%}
    <footer class="sticky-bottom mt-5">
      <div class="container">
        <div class="text">
        &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}. {{ site.footer_text }}
        {%- if site.impressum_path -%}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
        {%- endif -%}
        {%- if site.last_updated -%}
        Last updated: {{ "now" | date: '%B %d, %Y' }}.
        {%- endif %}
        </div>
        <div class="text">
          <span id="busuanzi_container_site_pv">Total Hits: <span id="busuanzi_value_site_pv"></span></span>
        </div>
      </div>
    </footer>
    {%- endif %}