          <div class="news">
            <div class="table-responsive" {% if include.limit and site.announcements.scrollable and news_size > 3 %}style="max-height: 60vw"{% endif %}>
              <table class="table table-sm table-borderless">
                <tr>
                  <th scope="row">2023</th>
                  <td class="news-title">
                      Top 10 Honored Students of <a href="http://ckc.zju.edu.cn/ckcen/_t1906/wbout/list.psp">Chu Kochen Honors College</a>
                  </td>
                </tr>
                <tr>
                  <th scope="row">2021 & 2023</th>
                  <td class="news-title">
                      Chinese National Scholarship, <a href="http://www.moe.gov.cn/">Ministry of Education of China</a>
                  </td>
                </tr>
                <tr>
                  <th scope="row">2022</th>
                  <td class="news-title">
                      2nd Prize, Contemporary Undergraduate Mathematical Contest in Modeling(<a href="http://www.mcm.edu.cn">CUMCM</a>)
                  </td>
                </tr>
                <tr>
                  <th scope="row">2021 & 2022</th>
                  <td class="news-title">
                      1st Prize, Chinese Mathematics Competition(<a href="http://www.mcm.edu.cn">CMC</a>), Zhejiang Province
                  </td>
                </tr>
              </table>
            </div>
          </div>