          <div class="news">
            <div class="table-responsive" {% if include.limit and site.announcements.scrollable and news_size > 3 %}style="max-height: 60vw"{% endif %}>
              <table class="table table-sm table-borderless">
                <tr>
                  <th scope="row">2025.6</th>
                  <td class="news-title">
                    <a href="https://arxiv.org/abs/2503.18945">Aether</a> has been accepted to ICCV 2025
                  </td>
                </tr>
                <tr>
                  <th scope="row">2025.3</th>
                  <td class="news-title">
                    <a href="https://aether-world.github.io">Aether</a> world model has been announced, see <a href="https://arxiv.org/abs/2503.18945">arxiv</a> and <a href="https://aether-world.github.io">website</a> for more details
                  </td>
                </tr>
              </table>
            </div>
          </div>