
          <div class="news">
            <div class="table-responsive" {% if include.limit and site.announcements.scrollable and news_size > 3 %}style="max-height: 60vw"{% endif %}>
                <table class="table table-sm table-borderless">
                    <tr>
                        <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
                          {%- assign publications_video_path = page.selected_papers.aether | prepend: 'assets/video/' -%}
                          
                          {% if page.experience.image_circular %}
                            {%- assign publications_video_class = "img-fluid z-depth-1 rounded-circle" -%}
                          {% else %}
                            {%- assign publications_video_class = "img-fluid z-depth-1 rounded" -%}
                          {% endif %}
            
                          {% include video.html
                          path=publications_video_path
                          class=publications_video_class
                          alt=publications.aether.teaser
                          scale=50
                          autoplay=true
                          loop=true
                          muted=true
                          playsinline=true
                          preload="auto"
                          cache_bust=true -%}
                        </div>
                        <div class="clearfix">
                          <b> <a href="https://arxiv.org/abs/2503.18945">Aether: Geometric-Aware Unified World Modeling</a> </b>
                          <br> Haoyi Zhu*, Yifan Wang*, <b>Jianjun Zhou*</b>, Wenzheng Chang*, Yang Zhou*, Zizun Li*, Junyi Chen*, Chunhua Shen*, Jiangmiao Pang*, Tong He*
                          <br> <em>Arxiv preprint, 2025</em>
                          <br> <b>Lead</b> Aether Data Team to annotate 4D synthetic data; <b>co-lead</b> the establishment and improvement of the <b>robust</b> & fully <b>automatic</b> 4D synthetic data annotation pipeline with Yifan Wang.
                        </div>
                    </tr>
                </table>
            </div>
          </div>
