<div class="teaching">
    <div class="table-responsive" {% if include.limit and site.announcements.scrollable and news_size > 3 %}style="max-height: 60vw"{% endif %}>
      <table class="table table-sm table-borderless">
        <tr>
          <th scope="row">2023 Fall</th>
          <td class="news-title">
            Computer Vision
            , with <a href="https://person.zju.edu.cn/en/gpan">Prof. Gang Pan</a>
          </td>
        </tr>
        <tr>
          <th scope="row">2023 Fall</th>
          <td class="news-title">
            Introductory Lectures on Optimization
            , with <a href="https://person.zju.edu.cn/en/0003412#0">Prof. Hui Qian</a>
          </td>
        </tr>
        <tr>
          <th scope="row">2023 Fall</th>
          <td class="news-title">
            <a href="/2023_FPA/">Fundamentals of Programming and Algorithm</a>
            , with Senior Instructor <a href="https://person.zju.edu.cn/wengkai">Kai Weng</a>
          </td>
        </tr>
      </table>
    </div>
  </div>