<div class="teaching">
    <div class="table-responsive" {% if include.limit and site.announcements.scrollable and news_size > 3 %}style="max-height: 60vw"{% endif %}>
      <table class="table table-sm table-borderless">
        <tr>
          <th scope="row">2024</th>
          <th scope="row">CS3141M</th>
          <td class="news-title">
            <a href="http://www.cad.zju.edu.cn/home/gfzhang/course/computational-photography/">Computational Photography</a>
            , with <a href="https://person.zju.edu.cn/en/0009726">Prof. Guofeng Zhang</a> & <a href="https://person.zju.edu.cn/en/xzhou">Research Prof. Xiaowei Zhou</a>
          </td>
        </tr>
        <tr>
          <th scope="row">2023</th>
          <th scope="row">CS3132M</th>
          <td class="news-title">
            <a href="/2023_CV/">Computer Vision</a>
            , with <a href="https://person.zju.edu.cn/en/gpan">Prof. Gang Pan</a>
          </td>
        </tr>
        <tr>
          <th scope="row">2023</th>
          <th scope="row">CS3211M</th>
          <td class="news-title">
            <a href="/2023_IOpt/">Introductory Lectures on Optimization</a>
            , with <a href="https://person.zju.edu.cn/en/0003412#0">Prof. Hui Qian</a>
          </td>
        </tr>
        <tr>
          <td class="news-title">2024</td>
          <td class="news-title">CS1006G</td>
          <td class="news-title">
            Python Programming
            , with Rui Shen (instructor)
          </td>
        </tr>
        <tr>
          <td class="news-title">2023</td>
          <td class="news-title">CS1014GZ</td>
          <td class="news-title">
            <a href="/2023_FPA/">Fundamentals of Programming and Algorithm</a>
            , with <a href="https://person.zju.edu.cn/wengkai">Kai Weng</a> (senior instructor)
          </td>
        </tr>
      </table>
    </div>
  </div>